<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="List of privately held startup companies with the valuation of $1 billion or more">
    <meta name="keywords" content="India, Startups, Unicorns, One billion valuation, 2021 unicorns, unicorns in india 2021, unicorn hub">
    <link rel="shortcut icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🦄</text></svg>" type="image/x-icon">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://unicornsindia.in">
    <meta property="og:title" content="Indian Unicorns">
    <meta property="og:image:secure_url" content="https://unicornsindia.in/thumbnail.jpg">
    <meta property="og:description" content="List of privately held startup companies with the valuation of $1 billion or more">
    <meta property="og:site_name" content="Unicorns India">
    <meta property="og:locale" content="en_US">
    <meta property="fb:app_id" content="442594016836222">
    
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@rakshithbellare">
    <meta name="twitter:creator" content="@rakshithbellare">
    <meta name="twitter:url" content="https://unicornsindia.in">
    <meta name="twitter:title" content="Unicorns of India">
    <meta name="twitter:description" content="List of privately held startup companies with the current valuation of $1 billion or more">
    <meta name="twitter:image" content="https://unicornsindia.in/thumbnail.jpg">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-198414576-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-198414576-1');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
