<template>
  <v-container>
    <v-row class="text-center" justify="center">
      <v-col cols="12">
        <span class="display-4">🦄</span>
      </v-col>

      <v-col cols="12">
        <h1 class="display-2 font-weight-bold mb-3">
          <span class="india-text">INDIAN</span> <span class="unicorns-text">UNICORNS</span>
        </h1>

        <p class="subheading font-weight-regular">
          List of privately held startup companies with the valuation of $1 billion or more
        </p>
      </v-col>

      <v-col cols="12" sm="9" md="9">
        <v-select
          v-model="defaultSort"
          :items="items"
          label="SORTED BY"
          v-on:change="sort"
        ></v-select>
      </v-col>

      <v-col
        cols="12"
        sm="9"
        md="9"
      >
        <v-expansion-panels>
          <v-expansion-panel
            v-for="(item,i) in unicorns"
            :key="i"
            :id="item.name.toLowerCase()"
          >
            <v-expansion-panel-header
              style="min-height: 96px;"
            >
              <v-row align="center">
                <v-col cols="3">
                  <v-img
                    :src="require('../assets/logos/' + item.logo)"
                    max-height="150"
                    max-width="150"
                    :eager="true"
                    loading="lazy"
                  >
                  </v-img>
                </v-col>
                <v-col :cols="isMobile ? 4 : 3">
                  <span>
                    <strong>{{ item.name }}</strong>
                  </span>
                </v-col>
                <v-col :cols="isMobile? 2 : 3">
                  <span class="green--text text--lighten-1">
                    <strong>&nbsp;${{ item.valuation }}B</strong>
                  </span>
                </v-col>
                <v-col cols="3">
                  <span class="blue--text text--lighten-1">
                    <strong>{{ item.year }}</strong>
                  </span>
                </v-col>
              </v-row>
            </v-expansion-panel-header>
            <v-expansion-panel-content
              :eager="true"
            >
              <v-row>
                <v-col cols="12">
                  <ul v-if="item.description.founded">
                    <li class="text-left"><strong>Founded</strong>: {{ item.description.founded }}</li>
                    <br>
                  </ul>
                  <ul v-if="item.description.sector">
                    <li class="text-left"><strong>Sector</strong>: {{ item.description.sector }}</li>
                    <br>
                  </ul>
                </v-col>
              </v-row>
              <ul>
                <template v-for="(point, i) in item.description.points">
                  <li class="text-left" :key="i">{{ point }}</li>
                </template>
              </ul>
              <br>
              <v-row>
                <v-col cols="6">
                  <ul v-if="item.description.rating">
                    <li class="text-left"><strong>Glassdoor rating</strong>: {{ item.description.rating }}</li>
                  </ul>
                </v-col>
                <v-col cols="6">
                  <ul v-if="item.description.careers">
                    <li class="text-left">
                      <a target="_blank" rel="noopener noreferrer" :href="item.description.careers">Careers</a>
                    </li>
                  </ul>
                </v-col>
              </v-row>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-col>

      <v-col cols="12">
        <a href="https://www.buymeacoffee.com/rakshithbellare" class="center" target="_blank" rel="noopener noreferrer">
          <v-img
            class="text-center"
            src="/bmc.svg"
            max-height="300"
            max-width="100"
            loading="lazy"
          >
          </v-img>
        </a>
        <br>
        <footer>
          <p class="subheading grey--text text--darken-2">
            built for 🇮🇳 by <a href="https://twitter.com/rakshithbellare" target="_blank" rel="noopener noreferrer">rakshith bellare</a> & <a href="https://twitter.com/deebellare" target="_blank" rel="nofollow">deekshith bellare</a>
          </p>
          <small class="grey--text text--darken-2">
            if you find any discrepancies in content or have any feedback please send a <a href="mailto:bellare545@gmail.com">mail</a>
          </small>
        </footer>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
  import data from '../data.json';
  export default {
    name: 'Page',

    data: () => ({
      unicorns: data,
      isMobile: false,
      defaultSort: "Year turned unicorn ⬆️",
      items: ["Valuation ⬆️", "Valuation ⬇️", "Year turned unicorn ⬆️", "Year turned unicorn ⬇️"]
    }),

    beforeDestroy () {
      if (typeof window === 'undefined') return

      window.removeEventListener('resize', this.onResize, { passive: true })
    },

    mounted () {
      this.onResize()
      window.addEventListener('resize', this.onResize, { passive: true })
    },

    methods: {
      onResize () {
        this.isMobile = window.innerWidth < 600
      },
      sort(inOption) {
        console.log(inOption)
        if(inOption === this.items[0]) {
          const compare = (a, b) => {
            const valuationOne = Number(a.valuation);
            const valuationTwo = Number(b.valuation);
            let comparision = 0;
            if(valuationOne > valuationTwo) {
              comparision = -1;
            } else {
              comparision = 1;
            }
            return comparision;
          }
          this.unicorns.sort(compare);
        } else if(inOption === this.items[1]) {
            const compare = (a, b) => {
              const valuationOne = Number(a.valuation);
              const valuationTwo = Number(b.valuation);
              let comparision = 0;
              if(valuationTwo > valuationOne) {
                comparision = -1;
              } else {
                comparision = 1;
              }
              return comparision;
            }
            this.unicorns.sort(compare);
        } else if(inOption === this.items[2]) {
            const compare = (a, b) => {
              const rankOne = a.rank;
              const rankTwo = b.rank;
              let comparision = 0;
              if(rankOne > rankTwo) {
                comparision = -1;
              } else {
                comparision = 1;
              }
              return comparision;
            }
            this.unicorns.sort(compare);
        } else if(inOption === this.items[3]) {
            const compare = (a, b) => {
              const rankOne = a.rank;
              const rankTwo = b.rank;
              let comparision = 0;
              if(rankTwo > rankOne) {
                comparision = -1;
              } else {
                comparision = 1;
              }
              return comparision;
            }
            this.unicorns.sort(compare);
        }
      }
    },
  }
</script>

<style scoped>
ul {
  list-style-type: none;
  padding-left: 0 !important;
}
.center {
  display: flex;
  justify-content: center;
}
.india-text {
  background: linear-gradient(to bottom, orange, white, green);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.unicorns-text {
  background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
